link.mode=SOURCE
connection.mode=OUTBOUND

security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='M6QTGUYJSIXZPJPS' password='buEbDLho5J6bH+uJFvscesjPfMh1V940eUcQFmASsmLnlCdsGebqpgtiTXPh8AuM';

local.security.protocol=SASL_SSL
local.sasl.mechanism=PLAIN
local.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='AKSXMMXJX5J4MLOY' password='VLxEWPq+otE0n+Drfo5Pao4LZkpogGUvrvdO39ar7EvEyKU2NHKX+JK0gD0Jcu+X';