{
      "name": "kfk-replicator",
      "config": {
          "connector.class":  "io.confluent.connect.replicator.ReplicatorSourceConnector",
          "dest.kafka.bootstrap.servers": "pkc-z9doz.eu-west-1.aws.confluent.cloud:9092",
          "dest.kafka.sasl.jaas.config": "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"<api-key>\" password=\"<api-secret>\";",
          "dest.kafka.sasl.mechanism": "PLAIN",
          "dest.kafka.security.protocol": "SASL_SSL",
          "dest.kafka.session.timeout.ms": "45000",
          "src.consumer.group.id": "replicator3",
          "src.kafka.bootstrap.servers": "pkc-7xoy1.eu-central-1.aws.confluent.cloud:9092",
          "src.kafka.security.protocol": "SASL_SSL",
          "src.kafka.sasl.mechanism": "PLAIN",
          "src.kafka.sasl.jaas.config": "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"<api-key>\" password=\"<api-secret>\";",
          "src.kafka.session.timeout.ms": "45000",
          "tasks.max": "1",
          "topic.config.sync": "false",
          "topic.auto.create": "false",
          "offset.translator.tasks.max": "0",
          "topic.whitelist": "orders",
          "key.converter": "io.confluent.connect.replicator.util.ByteArrayConverter",
          "value.converter": "io.confluent.connect.replicator.util.ByteArrayConverter",
          "producer.override.bootstrap.servers": "pkc-z9doz.eu-west-1.aws.confluent.cloud:9092",
          "producer.override.sasl.jaas.config": "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"<api-key>\" password=\"<api-secret>\";",
          "producer.override.sasl.mechanism": "PLAIN",
          "producer.override.security.protocol": "SASL_SSL",
          "producer.override.sasl.login.callback.handler.class": "org.apache.kafka.common.security.authenticator.AbstractLogin$DefaultLoginCallbackHandler",
          "confluent.topic.bootstrap.servers": "pkc-7xoy1.eu-central-1.aws.confluent.cloud:9092",
          "confluent.topic.security.protocol": "SASL_SSL",
          "confluent.topic.sasl.mechanism": "PLAIN",
          "confluent.topic.sasl.jaas.config": "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"<api-key>\" password=\"<api-secret>\";",
          "confluent.topic.session.timeout.ms": "45000",
          "confluent.topic.replication.factor": "3",
          "confluent.license": "<confuent-license>" 
      }
    }