     "connector.class":  "io.confluent.connect.replicator.ReplicatorSourceConnector",
     "confluent.topic.replication.factor": "3",
     "confluent.topic.bootstrap.servers": "kafka:9093",
     "dest.kafka.bootstrap.servers": "pkc-75m1o.europe-west3.gcp.confluent.cloud:9092",
     "dest.kafka.sasl.jaas.config": "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"XI73CZWA753ZTGSD\" password=\"nr9P0x7dzyjOIcZjrG7hwdscKggLztAXeoEpELySnl6lyyJdWg6npbIwXlku1XPZ\";",
     "dest.kafka.sasl.mechanism": "PLAIN",
     "dest.kafka.security.protocol": "SASL_SSL",
     "dest.topic.replication.factor": "3",
     "key.converter": "io.confluent.connect.replicator.util.ByteArrayConverter",
     "src.consumer.confluent.monitoring.interceptor.bootstrap.servers": "kafka:9093",
     "src.consumer.group.id": "replicator",
     "src.consumer.interceptor.classes": "io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor",
     "src.kafka.bootstrap.servers": "kafka:9093",
     "producer.override.bootstrap.servers": "pkc-75m1o.europe-west3.gcp.confluent.cloud:9092",
     "producer.override.sasl.jaas.config": "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"XI73CZWA753ZTGSD\" password=\"nr9P0x7dzyjOIcZjrG7hwdscKggLztAXeoEpELySnl6lyyJdWg6npbIwXlku1XPZ\";",
     "producer.override.sasl.mechanism": "PLAIN",
     "producer.override.security.protocol": "SASL_SSL",
     "producer.override.sasl.login.callback.handler.class": "org.apache.kafka.common.security.authenticator.AbstractLogin$DefaultLoginCallbackHandler",
     "tasks.max": "4",
     "topic.rename.format": "\${topic}_replica",
     "topic.whitelist": "topic-in-source",
     "value.converter": "io.confluent.connect.replicator.util.ByteArrayConverter"